.navbar{
    position: sticky;
    top:0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px  30px;
}

.navbar .right_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .right_section .logo_navbar{
    font-size: 25px;
    font-weight: bold;
}   

.navbar .right_section .toggle_button{
    display: none;
}

.navbar .menu_navbar{
    list-style: none;
    display: flex;
}

.navbar .menu_navbar>li{
    position:relative;
    margin: 0 20px;
    font-size: 17px;
    text-align: center;
}
.navbar .menu_navbar>li .numberSpan{
    padding: 5px;
    background-color: grey;
    width: 25px;
    height: 25px;
    margin: 5px auto;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 13px;
    align-items: center;
}

.menu_navbar>li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.menu_navbar>li a:hover{
    color: gray;
}

.navbar .btn_navbar{
    padding: 15px 18px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
}


@media only screen and (max-width:992px){
    .navbar{
        display: block;
    }
    .navbar .right_section .toggle_button{
        display: block;
        background-color: transparent;
        padding: 20px;
        border: none;
        cursor: pointer;
    }
    .navbar .menu_navbar{
        flex-direction: column;
        display: none;
    }
    .navbar .menu_navbar>li{
        text-align: center;
        margin: 20px;
    }
    .navbar .btn_navbar{
        display: none;
        margin: 0 auto;
    }

    .navbar.open .menu_navbar{
        display: block;
    }
    .navbar.open .btn_navbar{
        display: block;
    }
    .navbar .menu_navbar>li .numberSpan{
        display: none;
    }
}