*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display:flex;
    justify-content: space-between;
}

.main .left_section{
    flex:1;
}

.main .right_section{
    flex: 2;
}


@media only screen and (max-width: 992px){
    .main{
        flex-direction: column;
    }
}